# Formspree endpoint for contact form - inquiries will be emailed to you
# 1. Sign up at https://formspree.io (free)
# 2. Create a new form and connect it to kailash111111@gmail.com
# 3. Copy your form endpoint (e.g. https://formspree.io/f/xxxxxxxx)
# 4. Rename this file to .env and paste your endpoint below

VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/xxxxxxxx
